
#page-container {
    position: relative;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.haut {
    padding-top: 50px;
}

.parent {
    min-height: 100%;
    position: relative;
    margin-bottom: 4em;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    /*padding: 10px;*/
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

